/*
 Document   : default
 Created on : Apr 17, 2013, 3:56:10 PM
 Author     : Tim.VandenLangenberg
 Description:
 Purpose of the stylesheet follows.
 */
root {
	display: block;
}

body {
	display: block;
	font-family: Meiryo, Verdana, sans-serif;
	background-color: #000000;
	color: #ffffff;
}

dt {
	font-weight: bold;
	margin-top: 0.5em;
	padding: 0;
}

dd {
	margin: 0;
	padding: 0;
}

input {
	display: block;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.lokatieTitel {
	width: 422px;
	height: 317px;
	color: #FFF;
	background: transparent url(kelder.jpg) 0 0 no-repeat;
	background-position: 0% 50px;

}

.red {
	color:#FF0000;
}
.lokatieBeschrijving {
	/*position: relative;*/
/*	float: left; */
	width: 422px;
}

.lokatieItem {
	position: absolute;
	top: 650px;
	width: 25%;
	font-size: 0.75em;
}

.karakterItem {
	margin-left: 25%;
	position: absolute;
	top: 650px;
	width: 25%;
	font-size: 0.75em;
}

.karakterNaam {
	position: absolute;
	top: 310px;
	margin-left: 470px; 
	width: 200px;
	height: 200px;
	color:#FF0000;
	background: transparent url(javaguy.gif) 0 0 no-repeat;
	background-position: 10% 0;

}
.acties {
	margin-left: 50%;
	position: absolute;
	top: 650px;
	width: 25%;
	font-size: 0.75em;
}

.fout {
	color: #f00;
	margin-left: 5px;
}

.zonderbolletjes {
	list-style: none;
	padding: 0;
	margin-bottom: 0.2em;
}

.zonderbolletjes li {
	display: inline;
	margin-right: 0.2em;
}

div.rij input {
	display: inline;
}

ul.menu {
	list-style: none;
	padding: 0;
}

ul.menu li {
	display: block;
}

a:link {
	color: #fff;
}/* unvisited link */
a:visited {
	color: #fff;
}/* visited link */
a:hover {
	color: #f00;
}/* mouse over link */
a:active {
	color: #0000FF;
} /* selected link */