/*site-wide opmaak*/


body {
	display: block;
	font-family: Meiryo, Verdana, sans-serif;
	background-color: #000000;
	color: #FF0000;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:800px;
	background-color: black;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
}
body input{
	margin-left: auto;
	margin-right: auto;
}

dt {
	font-weight: bold;
	margin-top: 0.5em;
	padding: 0;
}

dd {
	margin: 0;
	padding: 0;
}

input {
	display: block;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

a:link , a:visited{
	color: #f00;
	text-decoration:none;
}
a:hover {
	color: #fff;
	text-decoration:none;
}
a:active {
	color: #B26B00;
	text-decoration:none;
}

/*om lijsten zonder list-style te laten weergeven*/
.zonderbolletjes {
	list-style: none;
	padding: 0;
}

/*Buttons inline zetten in lijsten*/
#nieuwKarakter input, .acties input, .adminpaneel {
	display:inline;
}


