/* 
    Document   : default
    Created on : Apr 17, 2013, 3:56:10 PM
    Author     : Tim.VandenLangenberg
    Description:
        Purpose of the stylesheet follows.
*/
root {
	display: block;
}

body {
	font-family: Meiryo, Verdana, sans-serif;
	background-color: #000000;
	color: #ffffff;
}

dt {
	font-weight: bold;
	margin-top: 0.5em;
	padding: 0;
}

dd {
	margin: 0;
	padding: 0;
}

input {
	display: block;
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.fout {
	color: #f00;
	margin-left: 5px;
}

.zonderbolletjes {
	list-style: none;
	padding: 0;
	margin-bottom: 0.2em;
}

.zonderbolletjes li {
	display: inline;
	margin-right: 0.2em;
}

div.rij input {
	display: inline;
}

ul.menu {
	list-style: none;
	padding: 0;
}

ul.menu li {
	display: block;
}

a:link {
	color: #fff;
} /* unvisited link */
a:visited {
	color: #fff;
} /* visited link */
a:hover {
	color: #f00;
} /* mouse over link */
a:active {
	color: #0000FF;
} /* selected link */